.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  max-width: 1000px;
  margin: auto;
}

.form-control {
}

#select,
#search {
  border-radius: 6px;
  border: none;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem 3rem;
}

#select:focus,
#search:focus {
  outline: none;
}
